.subscriber-container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background-color: aliceblue;
}
.subscribe img {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 50px;
    height: 50px;
}

.subscribe1 img {
    width: 100%;
    height: 300px;
}
.subscribe2 img {
    width: 100%;
    height: 300px;
}

.subscribe input {    
    border: none;
    border-radius: 5px;
    background-color: #cbdcdf;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
    border-bottom: 2px solid rgb(39, 22, 22);
}
.subscribe button {
    display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  
  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}
.subscribe button:hover {
    background-color: #150b66;
    color: #cdbc00;
}

 
  
  /* Social Icons */
  .social-icons {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon {  
      background-color: rgb(166, 185, 203);  
      color: rgb(20, 17, 99);  
      padding: 10px;
    margin: 0 0.5rem;
    border-radius: 30%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
    
  
  }   
 
    .social-icon:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
      .subscriber-container {
        grid-template-columns: 1fr;
      }
    }