@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&family=Lato:wght@300;700&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


* {
  box-sizing: border-box;
}

.product-gallery {
    background-color: aliceblue;
    padding: 20px;
}

.rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0 4px;
  margin-left:50px;
  margin-right:50px;
  padding: 20px;
}

/* Create four equal columnss that sits next to each other */
.columns {
  
  padding: 0 4px;
  margin-top:50px;
}

.columns img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  
 
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;
  
  
}

.flip-card-back  {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
transform: rotateY(180deg); 
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  
   
}

.flip-card-back h1{
  font-family: 'Kaushan Script', cursive;
  font-weight: bolder;
  font-size:45px;
  margin-top: 30px;
  padding: 2px;
  border:3px solid lightblue;
  border-radius: 15px;

}

.type{
font-family: 'Lato', sans-serif;
font-weight: 700;
}

.age{
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;

}
.flip-card-back.ollie{
  background-color: white;
  color:black;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}


.flip-card-back.barney{
  background-color: #F7C76A;
  color:white;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;

}

.flip-card-back.walter{
  background-color: pink;
  color:white;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.flip-card-back.miss{
  background-color: #E4D412;
  color:white;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.flip-card-back.reese{
  background-color: white;
  color:black;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.flip-card-back.bruce{
  background-color: #DADADA;
  -webkit-columns-rule: #00D5FF;
  -moz-columns-rule: #00D5FF;
  columns-rule: #00D5FF;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
/* Responsive layout - makes a two columns-layout instead of four columnss */
@media screen and (max-width: 800px) {
  .columns {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .header {
    text-align: center;
    padding: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
  }
  header .h1{
    width: 50%;
    border:2px solid white;
  }
  .rows{
    padding: 0 4px;
  margin-left: 90px;
  margin-right: 40px;
  }
}

/* Responsive layout - makes the two columnss stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .header {
    text-align: center;
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: white;
    margin-top: 25px;
  }

  .header .h1{
    font-size: 10px;
    padding:5px;
  }


  .columns {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    width: 100px;
  }
.rows{
  padding: 0 4px;
  margin-left: 140px;
}
}

@media screen and (max-width: 400px) {
  .rows {
    padding: 0 4px;
    margin-left: 35px;

}
}