.navbar {
    position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    position: sticky;
    top: 0;
    height: 70px;
    font-size: 20px;
    background-image: linear-gradient(to right, #270b4f 0%, #430949 100%);
    
    
}

.nav-link a{
    color: rgb(241, 220, 84);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;    
    padding: 7px 7px;
    margin: 7px 7px;    
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
} 

.nav-link a:hover {
    color: rgb(255, 188, 4);
    
}

.navbar-toggler-icon {
    width: 2rem;
    height: 2rem;    
    vertical-align: middle;
    transition: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    color:yellow;
    position: relative;

}



@media screen and (max-width: 992px) {
    .navbar-toggler-icon {
        color:aqua;
        
    }
    .nav-link a {        
        color: rgb(241, 220, 84);
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        background: #1b055a;
        display: block;
        transition: 0.5s;
    }

    
}
